* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none !important;
}

.clear {
  clear: both;
}

body {
  position: relative;
}

.header-container {
  width: 100%;
  position: fixed;
  height: auto;
  padding: 10px 0px 0px 0px;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 200;
}
.header-container .__header {
  position: relative;
  min-width: 1200px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
}
.header-container .__header .a-h {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.header-container .__header .a-h a {
  padding: 0px 10px 0px 0px;
  color: #fff;
  font-size: 13.5px;
  font-weight: 500;
  cursor: pointer;
}
.header-container .__header .a-h a:nth-child(3) i {
  padding: 0px 3px 0px 3px;
  cursor: pointer;
}
.header-container .__header .b-h {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.header-container .__header .b-h a {
  padding: 0px 10px 0px 0px;
  color: #fff;
  font-size: 13.5px;
  font-weight: 500;
  cursor: pointer;
}
.header-container .__header .b-h .login {
  position: relative;
}
.header-container .__header .b-h .login a {
  padding: 0px 10px 0px 0px;
  cursor: pointer;
}
.header-container .__header .b-h .login a:nth-child(2) {
  padding: 0px 0px 0px 10px;
  cursor: pointer;
}
.header-container .h-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
  padding: 20px 0px 20px 0px;
  width: 1200px;
}
.header-container .h-banner .banner {
  position: relative;
}
.header-container .h-banner .banner a {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline !important;
  justify-content: space-between !important;
}
.header-container .h-banner .banner a i {
  font-size: 46px;
  color: #fff;
  padding-right: 5px;
}
.header-container .h-banner .banner a span {
  font-size: 33px;
  color: #fff;
  font-weight: 500;
}
.header-container .h-banner .banner a span:before {
  content: "S";
  position: absolute;
  font-size: 32px;
  width: 20px;
  height: 40px;
  top: 14px;
  left: 10px;
  color: #f53d2d;
}
.header-container .h-banner .search-bar {
  display: block;
  width: auto;
  height: auto;
}
.header-container .h-banner .search-bar .search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  position: relative;
}
.header-container .h-banner .search-bar .search input[type=text] {
  width: 760px;
  padding: 13px 10px;
  border-radius: 3px 0px 0px 3px;
  outline: none;
  border: none;
}
.header-container .h-banner .search-bar .search button {
  width: 60px;
  height: 41px;
  background-color: #fb5533;
  border: 3px solid #fff;
  outline: none;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
}
.header-container .h-banner .search-bar .search button i {
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
}
.header-container .h-banner .search-bar .recom {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start !important;
  position: relative;
}
.header-container .h-banner .search-bar .recom a {
  padding-right: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}
.header-container .h-banner .cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .h-banner .cart i {
  font-size: 25px;
  color: #fff;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  flex-direction: column;
}
.container .__ads {
  position: relative;
  min-width: 1200px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .__ads .carousel {
  position: relative;
  width: 800px;
  height: 230px;
}
.container .__ads .carousel .prev-btn {
  position: absolute;
  width: 35px;
  height: 55px;
  background: rgba(0, 0, 0, 0.1);
  top: 43%;
  left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  opacity: 0;
}
.container .__ads .carousel .prev-btn i {
  font-size: 25px;
  color: #fff;
}
.container .__ads .carousel .prev-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
.container .__ads .carousel:hover .prev-btn {
  opacity: 1;
}
.container .__ads .carousel .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid #fff;
}
.container .__ads .carousel .wrap .img-wrapper {
  overflow: hidden;
  width: calc(800px * 6);
  height: 235px;
  display: flex;
  background: red;
  transition: 0.5s;
}
.container .__ads .carousel .wrap .img-wrapper .img-slider {
  display: flex;
}
.container .__ads .carousel .wrap .img-wrapper .img-slider img {
  width: 798px;
  height: 228px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.container .__ads .carousel .next-btn {
  position: absolute;
  top: 43%;
  right: 1px;
  width: 35px;
  height: 55px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  transition: 0.5s;
}
.container .__ads .carousel .next-btn i {
  font-size: 25px;
  color: #fff;
}
.container .__ads .carousel .next-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
.container .__ads .carousel:hover .next-btn {
  opacity: 1;
}
.container .__ads .carousel .dots-slider {
  position: absolute;
  bottom: 10px;
  left: 30%;
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .__ads .carousel .dots-slider .dot {
  position: relative;
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}
.container .__ads .carousel .dots-slider .dot.active {
  background: #f53d2d;
}
.container .__ads .ads {
  position: relative;
  width: 400px;
  height: 230px;
}
.container .__ads .ads .ads-f {
  position: relative;
  width: 100%;
  height: 115px;
  padding: 2px 0px 1px 2px;
}
.container .__ads .ads .ads-f img {
  width: 400px;
  height: 120px;
  background-size: cover;
}
.container .__ads .ads .ads-s {
  position: relative;
  width: 100%;
  height: 114px;
  padding: 2px 0px 1px 2px;
}
.container .__ads .ads .ads-s img {
  width: 400px;
  height: 100%;
  background-size: cover;
}
.container .access {
  width: 1200px;
  background: #fff;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline !important;
  transition: 0.5s;
}
.container .access .access__box {
  width: calc(1200px / 10);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  transition: 0.5s;
}
.container .access .access__box img {
  width: 45px;
  height: 45px;
}
.container .access .access__box span {
  margin: 5px 0px;
  color: #000;
  font-weight: lighter;
  font-size: 13px;
  text-align: center;
}
.container .access .access__box:hover {
  transform: translateY(-10px);
}
.container .banner__welcome {
  position: relative;
  width: 1200px;
  height: 110px;
  margin-top: 10px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/banner4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .banner__welcome a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container .__extra {
  width: 1200px;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.container .__extra .__extra-h {
  width: 1200px;
  height: 100px;
  background-image: url("../image/freeextra.jpeg");
  background-position: center;
  background-size: 100% 100%;
}
.container .__extra .__extra-m {
  display: flex;
  justify-content: space-between;
  width: 97.1%;
  background: #ee4e2e;
}
.container .__extra .__extra-m .__extra-m-l,
.container .__extra .__extra-m .__extra-m-r {
  width: 570px;
  height: 250px;
  background-color: #ee4e2e;
  position: relative;
}
.container .__extra .__extra-m .__extra-m-l .__head-m-l {
  padding: 5px 22px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
  align-items: baseline !important;
}
.container .__extra .__extra-m .__extra-m-l .__head-m-l p {
  font-size: 22px;
  font-weight: 100;
  color: #fff;
}
.container .__extra .__extra-m .__extra-m-l .__head-m-l a {
  color: #fff;
  font-size: 15px;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot {
  width: 100%;
  display: flex;
  padding: 0px 2px;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 10px;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box {
  cursor: pointer;
  position: relative;
  width: calc(100% / 3);
  height: 230px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
  flex-direction: column;
  margin: 1px;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box .__extra-down {
  position: absolute;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  right: 0;
  background: #ffd424e6;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box .__extra-down .--down-per {
  color: #ee4e2e;
  font-weight: bold;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box .__extra-down .--down-b {
  color: #fff;
  font-weight: bold;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box .__extra-down::before {
  content: "";
  position: absolute;
  bottom: -9.4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fed332;
  border-width: 0px 25px 10px 25px;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box img {
  margin-top: 2px;
  width: 96%;
  height: 60%;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box p {
  margin-bottom: 20px;
  color: #f53d2d;
}
.container .__extra .__extra-m .__extra-m-r .__head-m-r {
  padding: 5px 22px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline !important;
  justify-content: space-between !important;
}
.container .__extra .__extra-m .__extra-m-r .__head-m-r p {
  font-size: 22px;
  font-weight: lighter;
  color: #fff;
}
.container .__extra .__extra-m .__extra-m-r .__head-m-r a {
  color: #fff;
  font-size: 15px;
}
.container .__extra .__extra-m .__extra-m-r .__extra-bot {
  width: 100%;
  display: flex;
  padding: 0px 2px;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 10px;
}
.container .__extra .__extra-m .__extra-m-r .__extra-bot .__extra--box {
  position: relative;
  width: calc(100% / 3);
  cursor: pointer;
  height: 230px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
  flex-direction: column;
  margin: 1px;
}
.container .__extra .__extra-m .__extra-m-r .__extra-bot .__extra--box img {
  margin-top: 2px;
  width: 96%;
  height: 60%;
}
.container .__extra .__extra-m .__extra-m-r .__extra-bot .__extra--box p {
  margin-bottom: 20px;
  color: #f53d2d;
  text-transform: uppercase;
}
.container .__extra .__extra-f {
  width: 1166px;
  height: 50px;
  background: #ee4e2e;
  border-radius: 0px 0px 10px 10px;
}
.container .cate {
  width: 1200px;
  margin-bottom: 30px;
  height: auto;
  background-color: #fff;
  position: relative;
}
.container .cate .cate__title {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start !important;
  float: left;
  text-align: left;
  padding: 15px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.container .cate .cate__title h3 {
  font-weight: lighter;
  font-size: 20px;
  color: rgba(8, 8, 8, 0.582);
}
.container .cate .cate__c {
  width: 1200px;
  height: 300px;
  overflow: hidden;
}
.container .cate .cate__c .cate__container {
  position: relative;
  width: 1560px;
  height: 100%;
  background-color: #fff;
  display: flex;
  transition: 0.5s;
  flex-wrap: wrap;
}
.container .cate .cate__c .cate__container .cate__container--box {
  width: calc(1200px /10);
  height: 150px;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  flex-direction: column;
  text-align: center;
}
.container .cate .cate__c .cate__container .cate__container--box .box--img {
  width: 95%;
  height: 90px;
  background: #fff;
}
.container .cate .cate__c .cate__container .cate__container--box .box--img img {
  width: inherit;
  height: inherit;
}
.container .cate .cate__c .cate__container .cate__container--box span.box--title {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 10px;
}
.container .cate .cate__c .cate__container .cate__container--box:hover {
  transform: scale(1.01);
}
.container .cate .cate__c .cate__container.active {
  transform: translateX(-240px);
}
.container .fl-sale {
  width: 1200px;
  position: relative;
  background: #fff;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .fl-sale .fl-sale__banner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-content: space-between !important;
  padding: 20px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container .fl-sale .fl-sale__banner .fl-sale__banner--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: unset !important;
  position: relative;
}
.container .fl-sale .fl-sale__banner .fl-sale__banner--wrapper img {
  width: 100px;
  height: 100%;
  margin-right: 10px;
}
.container .fl-sale .fl-sale__banner .fl-sale__banner--wrapper .fl-sale__countdown {
  position: relative;
}
.container .fl-sale .fl-sale__banner .fl-sale__banner--wrapper .fl-sale__countdown span {
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: calc(100% - 1px);
  padding: 5px;
  border-radius: 5px;
}
.container .fl-sale .fl-sale__banner .fl-sale__banner--nowrap {
  position: relative;
}
.container .fl-sale .fl-sale__banner .fl-sale__banner--nowrap a {
  font-size: 15px;
  margin-right: 10px;
  font-weight: lighter;
  color: #ee4d2d;
}
.container .fl-sale .fl--sale-relative {
  width: 100%;
  position: relative;
  height: 240px;
  background: #fff;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor {
  position: relative;
  width: 250%;
  transition: 0.5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor .fl-sale__infor--box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 200px;
  transition: 0.5s;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor .fl-sale__infor--box img {
  width: 98%;
  height: 170px;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor .fl-sale__infor--box .infor-absolute {
  position: absolute;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  right: 0;
  background: #ffd424e6;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor .fl-sale__infor--box .infor-absolute p:nth-child(1) {
  color: #ee4d2d;
  font-weight: bold;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor .fl-sale__infor--box .infor-absolute p:nth-child(2) {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor .fl-sale__infor--box .infor-absolute::before {
  content: "";
  position: absolute;
  bottom: -9.4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fed332;
  border-width: 0px 25px 10px 25px;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor .fl-sale__infor--box .box--price {
  margin-top: 5px;
  text-align: center;
  color: #ee4e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline !important;
  font-size: 22px;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor .fl-sale__infor--box .box--price span {
  font-size: 15px !important;
  margin-right: 4px;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor .fl-sale__infor--box .box--infor-saler {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  text-align: center;
  padding: 0px 5px;
  margin-top: 5px;
  position: relative;
  background-color: #ee4e2e;
}
.container .fl-sale .fl--sale-relative .fl-sale__infor .fl-sale__infor--box .box--infor-saler img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: -3px;
}
.container .voucher {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container .mall {
  width: 1200px;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .mall .mall--head {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.container .mall .mall--head .mall--head__left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .mall .mall--head .mall--head__left a {
  color: #d0011b;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.container .mall .mall--head .mall--head__left .mall__left--p {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
}
.container .mall .mall--head .mall--head__left .mall__left--p .mall__left-img--wrapper {
  background: url("../image/a3ef4eaa6ff191c634985e9434183cbc.png");
  width: 35px;
  position: relative;
  background-size: 225%;
  background-position: -1% 2%;
  background-repeat: no-repeat;
  height: 35px;
  overflow: hidden;
}
.container .mall .mall--head .mall--head__left .mall__left--p .mall__left-img--wrapper.nth1 {
  background-size: 225%;
  background-position: 90% 2%;
}
.container .mall .mall--head .mall--head__left .mall__left--p .mall__left-img--wrapper.nth2 {
  background-size: 225%;
  background-position: 6% 110%;
}
.container .mall .mall--head .mall--head__right {
  position: relative;
}
.container .mall .mall--head .mall--head__right a {
  color: #d0011b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}
.container .mall .mall--mid {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .mall .mall--mid .mall--mid__img-slider {
  width: 390px;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.container .mall .mall--mid .mall--mid__img-slider .set--slider-for-mall {
  width: 0;
  display: flex;
  transition: 0.5s;
}
.container .mall .mall--mid .mall--mid__img-slider .set--slider-for-mall .mall--mid__img-single {
  width: 390px;
  height: 450px;
  position: relative;
  transition: 0.5s;
}
.container .mall .mall--mid .mall--mid__img-slider .set--slider-for-mall .mall--mid__img-single img {
  width: 390px;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container .mall .mall--mid .mall--mid__img-slider .mall--dot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0px;
  height: 20px;
  text-align: center;
  transition: 0.5s;
}
.container .mall .mall--mid .mall--mid__img-slider .mall--dot .mall--dot__single {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.container .mall .mall--mid .mall--mid__img-slider .mall--dot .mall--dot__single.active {
  background-color: #ee4e2e;
}
.container .mall .mall--mid .mall--mid__products {
  width: 247%;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  flex-wrap: wrap;
}
.container .mall .mall--mid .mall--mid__products .mall--mid__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 235px;
  position: relative;
  text-align: center;
  transition: 0.5s;
}
.container .mall .mall--mid .mall--mid__products .mall--mid__box a img {
  width: 200px;
  height: 200px;
}
.container .mall .mall--mid .mall--mid__products .mall--mid__box a p {
  color: #d0011b;
}

/*# sourceMappingURL=style.css.map */
