* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none !important;
}

.clear {
  clear: both;
}

body {
  position: relative;
}

.header-container {
  width: 100%;
  position: fixed;
  height: auto;
  padding: 10px 0px 0px 0px;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}
.header-container .__header {
  position: relative;
  min-width: 1200px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
}
.header-container .__header .a-h {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.header-container .__header .a-h a {
  padding: 0px 10px 0px 0px;
  color: #fff;
  font-size: 13.5px;
  font-weight: 500;
  cursor: pointer;
}
.header-container .__header .a-h a:nth-child(3) i {
  padding: 0px 3px 0px 3px;
  cursor: pointer;
}
.header-container .__header .b-h {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.header-container .__header .b-h a {
  padding: 0px 10px 0px 0px;
  color: #fff;
  font-size: 13.5px;
  font-weight: 500;
  cursor: pointer;
}
.header-container .__header .b-h .login {
  position: relative;
}
.header-container .__header .b-h .login a {
  padding: 0px 10px 0px 0px;
  cursor: pointer;
}
.header-container .__header .b-h .login a:nth-child(2) {
  padding: 0px 0px 0px 10px;
  cursor: pointer;
}
.header-container .h-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
  padding: 20px 0px 20px 0px;
  width: 1200px;
}
.header-container .h-banner .banner {
  position: relative;
}
.header-container .h-banner .banner a {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline !important;
  justify-content: space-between !important;
}
.header-container .h-banner .banner a i {
  font-size: 46px;
  color: #fff;
  padding-right: 5px;
}
.header-container .h-banner .banner a span {
  font-size: 33px;
  color: #fff;
  font-weight: 500;
}
.header-container .h-banner .banner a span:before {
  content: "S";
  position: absolute;
  font-size: 32px;
  width: 20px;
  height: 40px;
  top: 14px;
  left: 10px;
  color: #f53d2d;
}
.header-container .h-banner .search-bar {
  display: block;
  width: auto;
  height: auto;
}
.header-container .h-banner .search-bar .search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  position: relative;
}
.header-container .h-banner .search-bar .search input[type=text] {
  width: 760px;
  padding: 13px 10px;
  border-radius: 3px 0px 0px 3px;
  outline: none;
  border: none;
}
.header-container .h-banner .search-bar .search button {
  width: 60px;
  height: 41px;
  background-color: #fb5533;
  border: 3px solid #fff;
  outline: none;
  cursor: pointer;
  border-radius: 0px 3px 3px 0px;
}
.header-container .h-banner .search-bar .search button i {
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
}
.header-container .h-banner .search-bar .recom {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start !important;
  position: relative;
}
.header-container .h-banner .search-bar .recom a {
  padding-right: 10px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}
.header-container .h-banner .cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container .h-banner .cart i {
  font-size: 25px;
  color: #fff;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .__ads {
  position: relative;
  min-width: 1200px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .__ads .carousel {
  position: relative;
  width: 800px;
  height: 230px;
}
.container .__ads .carousel .prev-btn {
  position: absolute;
  width: 25px;
  height: 45px;
  background: rgba(0, 0, 0, 0.1);
  top: 43%;
  left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  opacity: 0;
}
.container .__ads .carousel .prev-btn i {
  font-size: 25px;
  color: #fff;
}
.container .__ads .carousel .prev-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
.container .__ads .carousel:hover .prev-btn {
  opacity: 1;
}
.container .__ads .carousel .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 2px solid #fff;
}
.container .__ads .carousel .wrap .img-wrapper {
  overflow: hidden;
  width: calc(800px * 6);
  height: 235px;
  display: flex;
  background: red;
  transition: 0.5s;
}
.container .__ads .carousel .wrap .img-wrapper .img-slider {
  display: flex;
}
.container .__ads .carousel .wrap .img-wrapper .img-slider img {
  width: 798px;
  height: 228px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.container .__ads .carousel .next-btn {
  position: absolute;
  top: 43%;
  right: 1px;
  width: 25px;
  height: 45px;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  transition: 0.5s;
}
.container .__ads .carousel .next-btn i {
  font-size: 25px;
  color: #fff;
}
.container .__ads .carousel .next-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
.container .__ads .carousel:hover .next-btn {
  opacity: 1;
}
.container .__ads .carousel .dots-slider {
  position: absolute;
  bottom: 10px;
  left: 30%;
  width: 200px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .__ads .carousel .dots-slider .dot {
  position: relative;
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
}
.container .__ads .carousel .dots-slider .dot.active {
  background: #f53d2d;
}
.container .__ads .ads {
  position: relative;
  width: 400px;
  height: 230px;
}
.container .__ads .ads .ads-f {
  position: relative;
  width: 100%;
  height: 115px;
  padding: 2px 0px 1px 2px;
}
.container .__ads .ads .ads-f img {
  width: 400px;
  height: 120px;
  background-size: cover;
}
.container .__ads .ads .ads-s {
  position: relative;
  width: 100%;
  height: 114px;
  padding: 2px 0px 1px 2px;
}
.container .__ads .ads .ads-s img {
  width: 400px;
  height: 100%;
  background-size: cover;
}
.container .access {
  width: 100%;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline !important;
  transition: 0.5s;
}
.container .access .access__box {
  width: calc(1200px / 10);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  transition: 0.5s;
}
.container .access .access__box img {
  width: 45px;
  height: 45px;
}
.container .access .access__box span {
  margin: 5px 0px;
  color: #000;
  font-weight: lighter;
  font-size: 13px;
  text-align: center;
}
.container .access .access__box:hover {
  transform: translateY(-10px);
}
.container .banner__welcome {
  position: relative;
  width: 1200px;
  height: 110px;
  margin-top: 10px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/banner4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .banner__welcome a {
  position: absolute;
  width: 100%;
  height: 100%;
}
.container .__extra {
  width: 1200px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.container .__extra .__extra-h {
  width: 1200px;
  height: 100px;
  background-image: url("../image/freeextra.jpeg");
  background-position: center;
  background-size: 100% 100%;
}
.container .__extra .__extra-m {
  display: flex;
  justify-content: space-between;
  width: 97.1%;
  background: #fb5533;
}
.container .__extra .__extra-m .__extra-m-l,
.container .__extra .__extra-m .__extra-m-r {
  width: 566px;
  height: 250px;
  background-color: #fb5533;
  position: relative;
}
.container .__extra .__extra-m .__extra-m-l .__head-m-l {
  padding: 5px 22px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
  align-items: baseline !important;
}
.container .__extra .__extra-m .__extra-m-l .__head-m-l p {
  font-size: 22px;
  font-weight: 100;
  color: #fff;
}
.container .__extra .__extra-m .__extra-m-l .__head-m-l a {
  color: #fff;
  font-size: 15px;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot {
  width: 100%;
  display: flex;
  padding: 0px 2px;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 10px;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box {
  cursor: pointer;
  position: relative;
  width: calc(100% / 3);
  height: 230px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
  flex-direction: column;
  margin: 1px;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box .__extra-down {
  position: absolute;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  right: 0;
  background: #ffd424e6;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box .__extra-down .--down-per {
  color: #f53d2d;
  font-weight: bold;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box .__extra-down .--down-b {
  color: #fff;
  font-weight: bold;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box img {
  margin-top: 2px;
  width: 96%;
  height: 60%;
}
.container .__extra .__extra-m .__extra-m-l .__extra-bot .__extra--box p {
  margin-bottom: 20px;
  color: #f53d2d;
}
.container .__extra .__extra-m .__extra-m-r .__head-m-r {
  padding: 5px 22px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: baseline !important;
  justify-content: space-between !important;
}
.container .__extra .__extra-m .__extra-m-r .__head-m-r p {
  font-size: 22px;
  font-weight: lighter;
  color: #fff;
}
.container .__extra .__extra-m .__extra-m-r .__head-m-r a {
  color: #fff;
  font-size: 15px;
}
.container .__extra .__extra-m .__extra-m-r .__extra-bot {
  width: 100%;
  display: flex;
  padding: 0px 2px;
  flex-wrap: nowrap;
  position: relative;
  margin-bottom: 10px;
}
.container .__extra .__extra-m .__extra-m-r .__extra-bot .__extra--box {
  position: relative;
  width: calc(100% / 3);
  cursor: pointer;
  height: 230px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between !important;
  flex-direction: column;
  margin: 1px;
}
.container .__extra .__extra-m .__extra-m-r .__extra-bot .__extra--box img {
  margin-top: 2px;
  width: 96%;
  height: 60%;
}
.container .__extra .__extra-m .__extra-m-r .__extra-bot .__extra--box p {
  margin-bottom: 20px;
  color: #f53d2d;
  text-transform: uppercase;
}
.container .__extra .__extra-f {
  width: 1166px;
  height: 50px;
  background: #fb5533;
  border-radius: 0px 0px 10px 10px;
}

/*# sourceMappingURL=style.css.map */
