.content {
  max-width: 1200px;
  height: 100%;
  padding: 20px 0px 20px 0px;
  background: #fff;
}
.content .content-box {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0px;
}
.content .content-box .content--box-title {
  font-size: 9px;
  opacity: 0.7;
  margin-bottom: 10px;
}
.content .content--box-text {
  line-height: 20px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.tags {
  width: 1200px;
  height: 100%;
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
.tags .tags-head {
  width: 100%;
  margin-bottom: 20px;
}
.tags .tags-head p {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
}
.tags .tags--container {
  display: flex;
  width: 1200px;
}
.tags .tags--container .tags--container-block {
  width: 20%;
  height: 100%;
  display: block;
  line-height: 20px;
}
.tags .tags--container .tags--container-block .tags--block_box {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.tags .tags--container .tags--container-block .tags--block_box .tags--block_title {
  width: 100%;
  padding: 5px 0px;
}
.tags .tags--container .tags--container-block .tags--block_box .tags--block_title a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.tags .tags--container .tags--container-block .tags--block_box .tags--block_all-t {
  display: block;
  width: 100%;
  padding-right: 12px;
}
.tags .tags--container .tags--container-block .tags--block_box .tags--block_all-t a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}
.tags .tags--container .tags--container-block .tags--block_box .tags--block_all-t a:hover {
  color: #fc8b8b;
}

.opt {
  width: 100%;
  height: 100%;
  padding: 30px 0px;
  background: #f1f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.opt .opt--container {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(1200px /5), 1fr));
}
.opt .opt--container .opt--container-single {
  padding-right: 30px !important;
  height: auto;
}
.opt .opt--container .opt--container-single h1 {
  font-size: 14px;
  font-weight: 600;
  color: #6b6767f1;
  padding-bottom: 16px;
}
.opt .opt--container .opt--container-single ul.opt--container-single-content {
  display: inline;
  padding: 15px 0px;
  list-style: none;
}
.opt .opt--container .opt--container-single ul.opt--container-single-content li {
  position: relative;
  margin: 1px 5px 10px 0px;
}
.opt .opt--container .opt--container-single ul.opt--container-single-content li a {
  font-size: 14px;
  color: #0000008a;
}

ul.opt--container-h-bg {
  position: relative;
  display: flex !important;
  flex-wrap: wrap;
}
ul.opt--container-h-bg li {
  width: 55px;
  height: 25px;
  position: relative;
}
ul.opt--container-h-bg li .opt-bg-option {
  padding: 0px 5px 5px 0px;
  background-image: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9309ced7a31ba301cc093d26a5461313.png");
}
ul.opt--container-h-bg li .opt-bg-option.bga {
  background-size: 1000% 1000%;
  background-position: 77% 28%;
}
ul.opt--container-h-bg li .opt-bg-option.bgb {
  background-size: 1258% 637%;
  background-position: 49% 6%;
}
ul.opt--container-h-bg li .opt-bg-option.bgc {
  background-size: 1258% 804%;
  background-position: 41.4% 36.4%;
}
ul.opt--container-h-bg li .opt-bg-option.bgd {
  background-size: 1384% 840%;
  background-position: 12.4% 6.1%;
}
ul.opt--container-h-bg li .opt-bg-option.bge {
  background-size: 1384% 638%;
  background-position: 66.2% 55.1%;
}
ul.opt--container-h-bg li .opt-bg-option.bgf {
  background-size: 1258.18% 637.9%;
  background-position: 76.76% 55.12%;
}
ul.opt--container-h-bg li .opt-bg-option.bgg {
  background-size: 1730% 355.7692307692%;
  background-position: 1.5337423313% 7.5187969925%;
}

ul.driver {
  position: relative;
  display: flex !important;
  flex-wrap: wrap;
  list-style: none;
}
ul.driver li {
  width: 55px;
  height: 25px;
  position: relative;
}
ul.driver li .opt-bg-option {
  padding: 0px 5px 5px 0px;
  background-image: url("https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9309ced7a31ba301cc093d26a5461313.png");
}
ul.driver li .opt-bg-option.da {
  background-size: 1000% 1000%;
  background-position: 77% 28%;
}
ul.driver li .opt-bg-option.db {
  background-size: 1258% 637%;
  background-position: 49% 6%;
}
ul.driver li .opt-bg-option.dc {
  background-size: 1258% 804%;
  background-position: 41.4% 36.4%;
}
ul.driver li .opt-bg-option.dd {
  background-size: 1384% 840%;
  background-position: 12.4% 6.1%;
}
ul.driver li .opt-bg-option.de {
  background-size: 1384% 638%;
  background-position: 66.2% 55.1%;
}
ul.driver li .opt-bg-option.df {
  background-size: 1258.18% 637.9%;
  background-position: 76.76% 55.12%;
}
ul.driver li .opt-bg-option.dg {
  background-size: 1730% 355.7692307692%;
  background-position: 1.5337423313% 7.5187969925%;
}

/*# sourceMappingURL=style.css.map */
